* {box-sizing: border-box;}

html, body, #content , .bg-filter{height: 100%; width: 100%; overflow: hidden;}

body{
    background-image: url('../images/backgrounds/bg-mitos-600p.jpeg');
    background-size:cover;
    font-family: sans-serif;
}

.bg-filter{
    background-image: linear-gradient(#891010, #115F34);
    width: 100%;
    opacity: .9;
    position: absolute;
}
#content{
    display: flex;
    width: 100%;
    align-items: center;
}

.header #logo{
    max-width: 100%;
    border-radius: 100%;
    border-image: linear-gradient(to left, red, green);
    border: solid 5px transparent;
}
#logo-border{
    border-radius: 100%;
    max-width: 125px;
    margin: 0;
    padding: 0;
    max-height: 125px;
    background: linear-gradient(#0008FF, #FF0000, #0008FF);
    margin: auto;
    animation: change 5s linear infinite;
    background-size: 250% 250%;
    background-position: 0 100%;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.contacts-icon{
    height: 30px;
    margin: 5px;
}
.rounded{border-radius: 100%!important;}
.body {letter-spacing: 1px;}

@keyframes change{
    100% {background-position: 0 0, 0 100%;}
}
